footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-extralightgray;
    padding: 25px;
}

footer .socialmedia {
    margin-bottom: 25px;
}

footer .socialmedia a {
    font-size: 20px;
    color: $color-dark;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

footer .socialmedia a:hover {
    color: $color-theme;
    text-decoration: none;
}